/* body {
    background-color: #ffff;
 } */

main {
    margin: 0;
    display: inline; 
    /* flex-direction: column; */
    justify-content: center;
    align-items: center; 
    /* font-family: 'Roboto', sans-serif;*/
    font-family: 'Inter', sans-serif;
}

.placeholder {
    opacity: 0.1; /* Change the value to adjust the opacity level */
 }

 th {
    text-align: center;
  }

 td {
    text-align: center;
  }